@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
	font-family: 'Montserrat', sans-serif;
}

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-image: linear-gradient(
		to right bottom,
		#161616,
		#575757,
		#222222,
		#707070
	);
	display: flex;
	justify-content: center;
	align-items: center;
}
.calculator {
	background-color: rgba(0, 0, 0, 0.267);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	height: 60vh;
	min-width: 370px;
	max-width: 370px;
}
.display {
	width: 100%;
	min-height: 20%;
	max-height: min-content;

	color: white;
	word-break: break-all;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 5px;
	font-weight: bold;
}
.currentNumber {
	font-size: 35px;
}

.previousNumber {
	color: rgb(182, 182, 182);
	font-size: 20px;
}

.mathSign {
	font-size: 22px;
}

.panel {
	padding: 10px;
	height: 80%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 2px;
	background-color: rgba(0, 0, 0, 0.2);
}

.panel button {
	font-size: 30px;
	background-color: rgb(58, 58, 58);
	color: white;
	cursor: pointer;
	border: none;
	outline: none;
	transition: all 0.2s ease-in-out;
	border-radius: 50%;
	margin: 10px;
}
#light-grey {
	background-color: rgb(116, 116, 116);
}
#light-grey:hover {
	background-color: rgb(184, 184, 184);
}
#orange {
	background-color: rgb(255, 145, 0);
}
#orange:hover {
	background-color: rgb(255, 181, 85);
}
button:hover {
	background-color: rgb(110, 110, 110);
}
#zero {
	text-align: center;
	grid-row: 5/6;
	grid-column: -5/-3;
	border-radius: 50px;
}
#zero p {
	padding-right: 53%;
}
.calculator-history {
	background-color: rgba(0, 0, 0, 0.267);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	height: 60vh;
	margin: 20px;
	width: 150px;
	background-color: rgba(20, 27, 27, 0.151);
	color: white;
	padding: 5px 10px;
	font-weight: bold;
	text-align: center;
}

.history {
	list-style: none;
}

.history-title {
	padding-top: 10px;
	padding-bottom: 10px;
}

.history-btn {
	color: white;
	background: rgba(29, 27, 27, 0.603);
	border: none;
	font-size: 15px;
	padding: 8px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: bold;
	display: none;
	outline: none;
	margin: 5px auto;
}
.history-btn.active {
	display: block;
}

.history-item {
	margin: 8px 0px;
	letter-spacing: 1px;
	border-bottom: 1px solid rgba(29, 27, 27, 0.233);
	padding-bottom: 5px;
	white-space: normal;
}
